@media (max-width:1200px) {
    
}

@media (max-width:1024px) {

}

@media (max-width: 812px) {
    
}

@media (max-width: 610px) {

}

@media (max-width:425px) {
    /* ---------------------------------*\
    #Hero section   
    \*----------------------------------*/
    .carousel-caption {
        display: block !important;
        padding: 15px;
        color: #fff;
        font-size: 1rem;
        text-align: center;
      }
    
    /* ---------------------------------*\
    #Section One Styling   
    \*----------------------------------*/
    .sectionOne .servicesBox {
        display: grid;
        padding-bottom: 50px;
        grid-template-columns: repeat(2, minmax(180px, 280px));
    }

    
    .filter-btn .btn-icon img {
        display: none;
    }

    .filter-btn .btn-text {
        font-weight: bolder;
        font-size: 18px;
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

    
    /* ---------------------------------*\
    #Footer Styling 
    \*----------------------------------*/

    .footer .content {
        display: inline;
        
    }

    .footer .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* ---------------------------------*\
    #contact section
    \*----------------------------------*/
    .contact-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* ---------------------------------*\
    #about section
    \*----------------------------------*/

    .one .about-us{
        display: grid;

    }

    .one .details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}